.row {
  display: flex;
  flex-direction: row;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  width: 400px;
}
.delete {
  height: 20px;
  width: 20px;
}

.round {
  padding: 3px;
  border-radius: 50%;
}
