.main-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.sizing-logo {
  height: 100px;
  width: 100px;
}
.decrease {
  height: 500px;
  width: 500px;
  margin-left: 200px;
}
.second {
  display: flex;
  flex-direction: row;
  background-color: #5763a5;
  width: 1400px;
}
.blue-back {
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.end {
  margin-left: 90px;
}

.white {
  color: white;
}
.second_box {
  background-color: #5763a5;
  width: 1400px;
  margin-top: 10px;
}
.rowing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.last {
  margin-left: 1000px;
}
.third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
